body {
  /* background-color: #A09EBB
      #A8AEC1
      #B5D2CB
      #BFFFBc
      #A6FFA1
      #FFFFFF; */
  display: block;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

* {
  /* outline: 2px solid red; */
  margin: 0;
  padding: 0;
}

#home {
  margin: auto;
  position: relative; 
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90dvh;
  background-image: url("/public/assets/background.jpg");  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-position: center;
  text-align: center;
  p{
    max-width: 350px;
    text-align: center;
    color: #a09ebb;
    font-weight: 500;
    z-index: 1;
  }
}


#home::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: 0;
  opacity: 0.5;
}

h1 {
  font-size: 70px;
  text-align: center;
  max-width: 600px;
  color: #a09ebb;
  line-height: 65px;
  margin-bottom: 20px;
  z-index: 1;
}

.intro__button {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  padding: 10px;
  width: 300px;
  border: none;
  color: #ffffff;
  background-color: #a09ebb;
  z-index: 1;
  margin: 20px 0 0 0;
}

.intro__button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  color: white;
  transition: ease 0.5s;
}

input[type="search"] {
  padding: 10px 10px 10px 30px;
  background-color: white;
  border-radius: 30px;
  width: 23rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 1px solid #a09ebb;
}

input[type="search"]:focus {
  outline: none;
  border: 3px solid #a09ebb;
}

.input__container {
  position: relative;
  width: 250px;
}

.input__container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.sign__up {
  border: none;
  background-color: #a09ebb;
  padding: 15px;
  width: 100px;
  li a {
    font-family: "Inter", sans-serif;
    color: white;
  }
}

.sign__in {
  padding: 8px;
  border: 2px solid #a09ebb;
  margin: 0 0 0 100px;
}
