.filter-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    button {
        margin-top: 30px;
        padding: 10px 20px;
        border: 1px solid #7772c5;
        border-radius: 5px;
        background-color: white;
        color: #7772c5;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: white;
        color: #453fa0;
        border: 1.5px solid #453fa0;
    }
}