/* SHOP */
.shop {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
  background: #f8f8f8;
  display: grid;
}

/* CATEGORIES */
.categories {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.categories button {
  background: white;
  border: 1px solid #ddd;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
  color: #000000;
}

.categories button:hover {
  background: black;
  color: white;
}

/* GRID */
.products {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* CARD */
.product-card {
  overflow: hidden;
  transition: 0.3s;
  width: 250px;
  height: 300px;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.product-card img {
  width: 100%;
  height: 150px;
  background: #f1f1f1;
  border-radius: 5px;
}

/* INFO */
.info {
  padding: 1rem;
}

.info h4 {
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}

.price {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

/* ACTIONS */
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions a {
  font-size: 0.85rem;
  color: #555;
}

.actions button {
  background: black;
  color: white;
  border: none;
  padding: 0.6rem 3rem;
  border-radius: 4rem;
  cursor: pointer;
  margin-top: 0.5rem;
  width: 100%;
}

.promo {
  background: rgb(158, 10, 10);
  padding: 2rem;
  width: 100%;
}

.promo h2 {
  font-size: 1.5rem;
}

.promo span {
  color: #e11d48;
  font-weight: 900;
}
