*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 40px;
    text-align: center;
}

span{
    color: rgba(28, 152, 224, 0.966);
}

.email{
    font-family: 'Inter', sans-serif;
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    color: gray;
    border: none;
}

.text{
    font-family:  'Inter', sans-serif;
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    color: gray;
    border: none;
}

.password{
  font-family:  'Inter', sans-serif;
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    color: gray;
    border: none;
}

.blue{
    color: #245CFB; 
}

.sign_in_button{
    padding: 15px;
    width: 100%;
    color: white;
    background-color: #1278cc;
    font-size: bold;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    border: none;
}

.sign_in_button:hover{
    cursor: pointer;
}

h2{
    font-weight: 900;
    font-size: bold;
    font-family:  'Inter', sans-serif;
}

label{
    font-family:  'Inter', sans-serif;
    font-size: 14px;
}

a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}