*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 35px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    color: rgba(233, 222, 222, 0.897);
    margin-bottom: 10px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img{
    width: 400px;
    aspect-ratio: 1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* height: 501px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputs{
    display: grid;
    place-content: center;
    gap: 10px;
    margin: 5px;
}

input{
    padding: 12px;
    width: 300px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* input:focus & input:active{
    border: none;
    color: white;
} */

button:hover{
    cursor: pointer;
    color: white;
    background-color: #6e55b9;
    transition: ease-in-out 1s;
}

/* input::placeholder{
    color: rgba(243, 238, 238, 0.959);
} */

button{
    font-size: 18px;
    width: 300px;
    padding: 10px;
    font-weight: bold;
    border: none;
    color: #6e55b9;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: 1px solid rgba(0, 0, 0, 0.295);
}

p{
    font-size: 14px;
    color: rgb(15, 15, 15);
}

a{
    font-size: 14px;
}

.icons{
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 5px;
}

.google{
    border: 2px solid white;
    padding: 10px;
    width: 145px;
    display: flex;
    gap:5px;
    justify-content: center;
    background-color: white;
}

.apple{
    background-color: white;
    border: 2px solid white;
    padding: 10px;
    width: 145px;
    display: flex;
    gap:5px;
    justify-content: center;
}

:is(.google,.apple):hover{
    cursor: pointer;
    outline: 1px solid black;
}

.sign-in{
    display: flex;
    gap: 5px;
    /* margin: 5px; */
}

@media (width <= 600px){
    img{
        display: none;
    }
}
