
.sign_up_container {
  width: 520px;
  background: #ffffff;
  margin: 15% 0 0 0;
  padding: 10px 30px 70px 30px;
  border-radius: 18px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 500px;
}

.sign_up_header {
    text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 5px;
  color: #222;
}

.inputs {
  display: grid;
  grid-template-columns:1fr 1fr;
column-gap: 10px;
  row-gap: 10px;    
  width: 100%;
  place-content: center;
}

.inputs input {
  width: 100%;
  padding: 13px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}


.inputs input:focus {
  border-color: #4a90ff;
  box-shadow: 0 0 6px rgba(74, 144, 255, 0.3);
}

/* ===== BUTTON ===== */
.sign_up_button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #4a90ff;
  color: white;
  border-radius: 10px;
  margin: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.sign_up_button:hover {
  background: #3577e7;
}

/* ===== SIGN IN LINK ===== */
.sign-in {
  margin-top: 5px;
  font-size: 14px;
}

.sign-in a {
  text-decoration: none;
  color: #4a90ff;
  font-weight: 600;
}

.sign-in a:hover {
  text-decoration: underline;
}

/* ===== SOCIAL ICONS ===== */
.icons {
  margin-top: 5px;
}

.icons div {
  padding: 12px;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icons div:hover {
  background: #f3f6ff;
  border-color: #4a90ff;
}

.google i {
  font-size: 20px;
}

.apple i {
  font-size: 20px;
}
